.primary-nav {
    background: $primary;
    font-size: 1rem;
    border-bottom: $secondary 6px solid;

    img {
        display: none;
    }
    &--sticky {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        background: $secondary-pale;

        img {
            display: inline;
        }
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;

        @include atSmall {
            font-size: 1.2rem;
        }

        @include atMedium {
            justify-content: flex-end;
            font-size: 1.4rem;
        }

        a {
            color: $primary-text;
            font-weight: bold;
        }
        li {
            padding: 1rem 0.5rem;
            transition-property: background-color;
            transition-duration: 0.3s;
            &:hover {
                background: darken($primary, 20%);
                a {
                    color: lighten($primary, 20%);
                }
            }
            @include atSmall {
                padding: 1.5rem;
            }
        }
    }
}
