.primary-nav {
    background: $primary;
    font-size: 1rem;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        border-bottom: $secondary 6px solid;

        @include atSmall {
            font-size: 1.2rem;
        }

        @include atMedium {
            justify-content: flex-end;
            font-size: 1.4rem;
        }

        a {
            color: $primary-text;
            font-weight: bold;
        }
        li {
            padding: 1rem 0.5rem;
            transition-property: background-color;
            transition-duration: 0.3s;
            &:hover {
                background: darken($primary, 20%);
                a {
                    color: lighten($primary, 20%);
                }
            }
            @include atSmall {
                padding: 1.5rem;
            }
        }
    }
}
